.itemContainer {
  width: 15%;
  height: 100%;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #5f96ee;
  border-radius: 0.5rem;
  text-decoration: none;
  color: #5f96ee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  box-shadow: 3px 3px 5px grey;

  .itemInfo {
    height: 5rem;
    h2,
    h3 {
      text-align: center;
      font-size: 1rem;
      font-weight: 100;
    }
  }

  .itemImgContainer {
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
    border-bottom: 1px solid #5f96ee;
  }

  img {
    object-fit: cover;
    width: 100%;
  }
}
