.contadorContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    width: 100%;
    border-radius: .3rem;
   
    .nombreLibro{
        color: #EEF2FE;
         }
    .btnMasMenosContainer{
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        width: 70%;
        height:15% ;
        .btnMasMenos{
            border: none;
            width: 1.5rem;
            height: 1.5rem;
            background-color: #5f96ee;
            color: #EEF2FE;
            border-radius: .2rem;
         }
         .contador{
             color: #EEF2FE;
         }
        
    }
    .btnAgregarCarrito{
        background-color: #5f96ee;
        color: #EEF2FE;
        border-radius: .3rem;
        border: none;
        padding: .3rem;    
    }
}