.menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10%;
  display: flex;
  background-color: rgb(255, 255, 255);
  padding: 0 0 0 2rem;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 3px 5px grey;

  ul {
    display: flex;
    list-style-type: none;
    width: 80%;
    justify-content: space-around;
  }

  a,
  p {
    text-decoration: none;
    color: #7da9f0;
  }
  p {
    cursor: pointer;
  }
}
.logoContainer {
  width: 6.5%;
  height: 100%;
  display: flex;
  align-items: center;
  .logo {
    width: 100%;
    object-fit: cover;
  }
}
.generosLi {
  position: relative;
  height: 100%;

  .generosDiv {
    position: absolute;
    background-color: #002c74;
    width: 5rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    overflow-y: hidden;
    transition: all 0.3s ease;
  }
}
